@charset "ISO-8859-1";

.rating {
	direction: rtl;
	unicode-bidi: bidi-override;
}

.rating input[type="radio"] {
	display: none;
}

.rating label {
	color: #ddd;
	font-size: 30px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	display: inline-block;
}

.rating label:before {
	content: "\f005";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	text-shadow: 1px 1px #bbb;
	transform: rotateY(180deg);
}

.rating input[type="radio"]:checked ~ label:before, .rating input[type="radio"]:hover 
	 ~ label:before {
	color: gold;
}